<p>etoile works!</p>

<span class="fa fa-star-o" data-jest="empty star"></span>
<span class="fa fa-star checked" data-jest="full star"></span>

<!-- 
    https://betterprogramming.pub/how-to-create-a-star-rating-component-in-angular-ff32234ea531
    <span class="fa fa-star-o" data-jest="empty star"></span>
    <span class="fa fa-star checked" data-jest="full star"></span>

    <div *ngFor="let item of [].constructor(10);">
 </div>

 https://stackblitz.com/edit/angular-material2-list-of-cards?file=app%2Fapp.component.html
 https://www.positronx.io/angular-star-rating-example-tutorial/
https://remotestack.io/angular-star-rating-system-examples-tutorial/

-->
